@import 'shared';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.seller-layout {
  --background: #f4f6f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content-wrapper {
  flex: 1;
  position: relative;
  background-color: #f4f6f9;
  overflow: hidden;
}
