.buyer-layout {
  --background: #f4f6f9;
  height: 100dvh; /* Soporte para barras móviles dinámicas */
  height: 100%; /* Fallback si está dentro de ion-app */
  display: flex;
  flex-direction: column;
}

.main-content-wrapper {
  flex: 1;
  position: relative;
  background-color: #f4f6f9;
  overflow: hidden;
}
